---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import Menu from '@components/Menu.astro'
import KoMaLogo from '@components/KoMaLogo.astro'
import Bars3 from 'astro-heroicons/outline/Bars3.astro'
import XMark from 'astro-heroicons/outline/XMark.astro'
---

<html class="no-theme" lang="de">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>KoMa</title>

  <script is:inline>
    {
      const theme = localStorage.getItem('theme')
      if (theme != null) {
        document.documentElement.classList.remove('no-theme')
        if (theme == 'dark') {
          document.documentElement.classList.add('dark')
        }
      }
    }
  </script>

  <body class="grid min-h-dvh grid-rows-[auto_1fr] bg-slate-100 dark:bg-slate-900">
    <div class="z-10 print:hidden">
      <Header />
    </div>

    <div class="flex justify-self-center">
      <nav
        id="menu"
        class="fixed inset-0 z-20 hidden w-full aria-expanded:block md:static md:block md:w-fit print:hidden"
      >
        <div
          class="absolute inset-0 -z-10 bg-slate-50/50 backdrop-blur-sm md:hidden dark:bg-slate-950/50"
          onclick="menu.ariaExpanded='false'"
        >
        </div>
        <div
          class="h-full w-72 overflow-y-auto bg-slate-100 px-6 py-4 leading-snug opacity-[.99999] shadow-2xl md:bg-transparent md:py-8 md:pl-2 md:shadow-none dark:bg-slate-900 dark:md:bg-transparent"
        >
          <div class="flex justify-between pb-4 pt-1 md:hidden">
            <KoMaLogo className="h-8 self-center fill-teal-900 dark:fill-teal-300" />
            <button
              type="button"
              id="menuClose"
              class="size-12 self-center rounded-xl bg-slate-100 shadow dark:bg-slate-600"
              onclick="menu.ariaExpanded='false'; menuOpen.focus()"
              aria-label="Menü schließen"
            >
              <XMark class="size-[inherit] stroke-teal-700 p-2 dark:stroke-teal-300" />
            </button>
          </div>
          <Menu />
        </div>
      </nav>

      <div
        class="prose prose-slate w-full max-w-full flex-1 hyphens-auto bg-slate-50 px-4 py-8 shadow dark:prose-invert prose-headings:text-slate-700 prose-a:text-teal-700 md:max-w-[70ch] md:px-8 dark:bg-slate-950 dark:shadow-black dark:prose-headings:text-slate-400 dark:prose-a:text-teal-300 print:shadow-none"
      >
        <button
          type="button"
          id="menuOpen"
          class="size-12 rounded-xl bg-slate-100 shadow md:hidden dark:bg-slate-800 print:hidden"
          onclick="menu.ariaExpanded='true'; menuClose.focus()"
          aria-label="Menü öffnen"
        >
          <Bars3 class="size-[inherit] stroke-teal-700 p-2 dark:stroke-teal-300" />
        </button>
        <slot />
      </div>
    </div>

    <div class="z-10 print:hidden">
      <Footer />
    </div>
  </body>
</html>
