---
import Bars3 from 'astro-heroicons/outline/Bars3.astro'
import Footer from '@components/Footer.astro'
import KoMaLogo from '@components/KoMaLogo.astro'
import Menu from '@components/Menu.astro'
import ThemeToggle from '@components/ThemeToggle.astro'
---

<html class="no-theme" lang="de">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>KoMa</title>

  <script is:inline>
    {
      const theme = localStorage.getItem('theme')
      if (theme != null) {
        document.documentElement.classList.remove('no-theme')
        if (theme == 'dark') {
          document.documentElement.classList.add('dark')
        }
      }
    }
    const toggleMenu = () => {
      if (menu.dataset.menu == 'open') {
        menu.dataset.menu = ''
        menuToggle.ariaExpanded = 'false'
      } else {
        menu.dataset.menu = 'open'
        menuToggle.ariaExpanded = 'true'
      }
    }
  </script>

  <body class="grid min-h-dvh grid-rows-[auto_1fr] bg-slate-100 dark:bg-slate-900">
    <div class="fixed inset-x-0 z-30 h-14 print:hidden">
      <header
        class="flex h-fit border-t-8 border-teal-600 bg-gradient-to-tr from-slate-200 to-cyan-100 shadow shadow-slate-300 dark:from-slate-800 dark:to-cyan-900 dark:shadow-slate-900"
      >
        <button
          type="button"
          id="menuToggle"
          class="h-11 self-center md:hidden"
          aria-expanded="false"
          onclick="toggleMenu()"
          aria-label="Menü öffnen/schließen"
        >
          <Bars3 class="size-[inherit] stroke-teal-700 p-2 dark:stroke-teal-200" />
        </button>
        <a class="p-2" tabindex="-1" aria-label="KoMa" href="/">
          <KoMaLogo className="h-8 fill-teal-900 dark:fill-teal-200" />
        </a>
        <h1
          class="hidden font-semibold uppercase tracking-wider text-teal-800 md:inline dark:text-teal-200"
        >
          Konferenz der deutschsprachigen <br /> Mathematikfachschaften
        </h1>
        <div class="flex-1"></div>
        <ThemeToggle class="h-9 self-center stroke-teal-800 pr-2 dark:stroke-cyan-200" />
      </header>
    </div>
    <div class="h-14 print:hidden"></div>

    <div class="flex justify-self-center">
      <nav
        id="menu"
        class="invisible fixed bottom-0 top-14 z-20 w-full data-[menu=open]:visible md:visible md:static md:w-fit print:hidden"
      >
        <div
          class="h-full w-72 overflow-y-auto bg-slate-100 px-6 py-4 leading-snug opacity-[.99999] shadow-2xl md:bg-transparent md:py-8 md:pl-2 md:shadow-none dark:bg-slate-900 dark:md:bg-transparent"
        >
          <Menu />
        </div>
        <div
          class="absolute inset-0 -z-10 bg-slate-50/50 backdrop-blur-sm md:hidden dark:bg-slate-950/50"
          onclick="toggleMenu()"
        >
        </div>
      </nav>

      <div
        class="prose prose-slate w-full max-w-full flex-1 hyphens-auto bg-slate-50 px-4 py-8 shadow dark:prose-invert prose-headings:text-slate-700 prose-a:text-teal-700 md:max-w-[70ch] md:px-8 dark:bg-slate-950 dark:shadow-black dark:prose-headings:text-slate-400 dark:prose-a:text-teal-300 print:shadow-none"
      >
        <slot />
      </div>
    </div>

    <div class="z-10 print:hidden">
      <Footer />
    </div>
  </body>
</html>
