---
import BaseLayout from '@layouts/BaseLayout.astro'
import NextKoMa from '@components/NextKoMa.astro'
---

<BaseLayout>
  <NextKoMa />

  <main class="">
    <h1 id="news">News</h1>

    <p>Gute Neuigkeiten!</p>

    <p>
      Die <a href="https://komapedia.org/wiki/KoMa_88">KoMa 88</a> in Kaiserslautern hat vom 17. bis
      zum 21. Mai stattgefunden, verabschiedete <a href="./publikationen/resolutionen"
        >Resolutionen</a
      > werden in Kürze veröffentlicht werden.
    </p>

    <p>
      Im kommenden Wintersemester wird die <a href="https://www.koma89.tu-darmstadt.de/">89. KoMa</a
      > vom 23. bis 27. November in Darmstadt stattfinden.
    </p>

    <p>
      Bitte denkt daran, in der <a href="./KoMaPedia">KoMaPedia</a> schon im Vorhinein Arbeitskreise
      anzumelden. Ihr gebt damit der Orga Planungssicherheit und anderen Fachschaften die Möglichkeit,
      passende Informationen zu sammeln und sich vorher zu besprechen.
    </p>

    <p>Wir freuen uns auf euch! &lt;3</p>

    <h1 id="was-ist-die-koma">Was ist die KoMa?</h1>

    <p>
      Ganz kurz: Einmal im Semester treffen sich Fachschaftsvertreter*innen und Studierende
      mathematischer Studiengänge aus Deutschland, Österreich und der Schweiz zur KoMa. Ziel ist der
      Austausch von Informationen und Erfahrungen sowie die Bildung von Kontakten zwischen den
      Hochschulen. Arbeitskreise (AKs) behandeln fachliche aber auch allgemeinpolitische oder
      kulturelle Themen. Darüber hinaus gibt es auf der KoMa aber auch immer viel Spaß. Neben diesen
      Treffen gibt es Zwischentreffen der AKs sowie einen ganzjährigen Informationsaustausch über
      E-Mail und postwendend durch den KoMa-Kurier sowie auch über das WWW.
    </p>

    <p>
      Detailliertere Informationen darüber, was die KoMa ist, finden sich in der Kategorie „<a
        href="./ueber_die_koma/">Über die KoMa</a
      >“, insbesondere im <a href="./publikationen/neulingsheft/">Neulingsheft</a>. Bisherige
      Arbeiten der KoMa sind in der Kategorie in der „<a href="./KoMaPedia/">KoMaPedia</a>“ und im „<a
        href="./publikationen/koma-kurier/">KoMa-Kurier</a
      >“ zu finden.
    </p>

    <h1 id="neue-besetzung-des-koma-büros">Neue Besetzung des KoMa-Büros</h1>
    <p>
      Das KoMa-Büro ist kürzlich von Potsdam nach Bonn umgezogen. Weitere Informationen finden sich <a
        href="./kommunikation/koma-buero/">hier</a
      >.
    </p>
  </main>
</BaseLayout>
