<header class="site-header">
  <a href="/">
    <div class="logo">
      {% capture koma_logo %}{% include koma.svg %}{% endcapture -%}
      {{ koma_logo | normalize_whitespace | replace: "> <", "><" }}
    </div>
    <h1>die-koma.org</h1>
    <div class="arrow">
      {% capture arrowhead %}{% include arrowhead.svg %}{% endcapture -%}
      {{ arrowhead | normalize_whitespace | replace: "> <", "><" }}
    </div>
    <div class="subtitle">
      <h2 lang="de">Konferenz der deutschsprachigen Mathematikfachschaften</h2>
    </div>
  </a>
</header>
{{- '' -}}
