{%- comment -%} -*- engine:django -*- {%- endcomment -%}

{%- if include.gen_navigation != true -%}

  {%- unless navigation -%}
    {%- include navbar.html gen_navigation=true -%}
  {%- endunless -%}

  {%- if include.no_outer != true -%}
    <nav class="site-nav">
  {%- endif -%}

  {%- unless include.parent_path == '/' -%}

    {%- assign parent_path = include.parent_path | default: '/' -%}
    {%- assign entries = navigation | where: 'name', parent_path | map: 'items' | first -%}

    {%- if entries | size >= 1 -%}
      <ul>
        {%- for entry in entries -%}
        <li{%- if include.active == entry.url -%} class="active"{%- endif -%}>
          <a href="{{ entry.url }}">
            {%- include pagename.html page=entry -%}
          </a>
          {%- if include.active | split: entry.url | size == 0 -%}
            {%- include navbar.html no_outer=true parent_path=entry.url active=include.active -%}
          {%- else -%}
            {%- include navbar.html no_outer=true parent_path=entry.url -%}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

  {%- endunless -%}

  {%- if include.no_outer != true -%}
    </nav>
  {%- endif -%}

{%- else -%}
  {%- assign navigation = site.html_pages | group_by_exp: 'item', 'item.url | split: "/" | pop | join: "/" | append: "/"' -%}
{%- endif -%}
