{%- assign navigation = "" | split: "" -%}
{%- for p in site.pages -%}
    {%- if p.menuentry == true -%}
        {%- if p.menutitle or p.menuentitle -%}
            {%- assign navigation = navigation | push: p -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{%- assign navigation = navigation | sort: 'path' -%}
{%- assign menudepth = navigation | group_by_exp: 'item', 'item.url | remove_first: "/" | split: "/" | size' -%}

<nav>
{%- include navtree.html depth=1 parent_path="/" %}
</nav>
