{%- assign navigation = "" | split: "" -%}
{%- for p in site.pages -%}
    {%- if p.menuentry == true -%}
        {%- if p.menutitle or p.menuentitle -%}
            {%- assign navigation = navigation | push: p -%}
        {%- endif -%}
    {%- endif -%}

{%- endfor -%}
{%- assign navigation = navigation | sort: 'path' -%}
{%- assign menudepth = navigation | group_by_exp: 'item', 'item.url | remove_first: "/" | split: "/" | size' -%}
<nav class="site-nav">
{%- comment -%}
<pre>
{%- for p in navigation -%}
{{ p.dir }}
{{ p.path }}
{%- endfor -%}
</pre>
<pre>
{%- for m in menudepth -%}
{{ m }}
    {%- for p in m.items -%}
        {{ p.url }}
    {%- endfor -%}
{%- endfor -%}
</pre>
<pre>
{%- assign wtf = navigation -%}
{%- for w in wtf -%}
    {{ w.dir }}
{%- endfor -%}
</pre>
{%- endcomment -%}
{%- include navtree.html treeprefix="menu-0" active=include.active depth=1 parent_path="/" -%}
</nav>
