{%- assign depth_entries = menudepth | where: 'name', include.depth -%}
{%- assign entries = "" | split: "" -%}
{%- for e in depth_entries.first.items -%}
  {%- assign entrytext = e.url | slice: 0, include.parent_path.size -%}
  {%- if entrytext contains include.parent_path -%}
    {%- assign entries = entries | push: e -%}
  {%- endif -%}
{%- endfor -%}
{%- assign entries = entries | where_exp: 'item', 'item.menuentry == true' -%}

{%- if entries.size >= 1 %}
  <ul>
  {%- assign ordered_entries = entries | sort: 'order' -%}
  {%- for entry in ordered_entries -%}
    {%- assign nextdepth = include.depth | plus: 1 -%}
    {%- assign url = entry.menuurl | default: entry.url %}
    <li><a href="{{ url }}">{{ entry.menutitle }}</a>
      {%- include navtree.html parent_path=entry.dir depth=nextdepth -%}
    </li>
  {%- endfor %}
  </ul>
{%- endif -%}
