{%- assign depth_entries = menudepth | where: 'name', include.depth -%}
{%- assign rawentries = "" | split: "" -%}
{%- for ihateliquid in depth_entries -%}
    {%- assign rawentries = ihateliquid.items -%}
{%- endfor -%}
{%- assign entries = "" | split: "" -%}
{%- assign parent_path_size = include.parent_path.size -%}
{%- for e in rawentries -%}
    {%- assign entrytext = e.url | slice: 0,parent_path_size -%}
    {%- if entrytext contains include.parent_path -%}
        {%- assign entries = entries | push: e -%}
    {%- endif -%}
{%- endfor -%}
{%- assign entries = entries | where_exp: 'item', 'item.menuentry == true' -%}
{%- if entries.size >= 1 -%}
    <input type="checkbox" name="{{ include.treeprefix }}" id="{{ include.treeprefix }}" hidden="hidden"/>
    <ul>
    {%- assign ordered_entries = entries | sort: 'order' -%}
    {%- for entry in ordered_entries -%}
        {%- assign treeprefix = include.treeprefix | append: "-" | append: forloop.index -%}
                {%- assign nextdepth = include.depth | plus: 1 -%}
                {%- assign nextdepth_entries = menudepth | where: 'name', nextdepth -%}
                {%- if nextdepth_entries.size == 1 -%}
                    {%- assign nextrawentries = "" | split: "" -%}
                    {%- for nextihateliquid in nextdepth_entries -%}
                        {%- assign nextrawentries = nextihateliquid.items -%}
                    {%- endfor -%}
                    {%- assign nextentries = "" | split: "" -%}
                    {%- assign nextparent_path_size = entry.dir.size -%}
                    {%- for e in nextrawentries -%}
                        {%- assign entrytext = e.url | slice: 0,nextparent_path_size -%}
                        {%- if entrytext contains entry.dir -%}
                            {%- assign nextentries = nextentries | push: e -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {%- assign nextentries = nextentries | where_exp: 'item', 'item.menuentry == true' -%}
                    {%- if nextentries.size > 0 -%}{%- assign has_children = true -%}{%- else -%}{%- assign has_children = false -%}{%- endif -%}
                {%- else -%}{%- assign has_children = false -%}{%- endif -%}
        {%- assign is_active = false -%}
        {%- if include.active -%}
            {%- assign entry_url_active = entry.url | slice: 0,include.active.size -%}
            {%- if include.active == entry.url -%}
                {%- assign is_active = true -%}
            {%- endif -%}
        {%- endif -%}
        <li>
            <input type="radio" name="{{ include.treeprefix }}" id="{{ treeprefix }}" hidden="hidden"/>
            <label for="{{ treeprefix }}" class="menuitem{% if include.active contains entry.url %} active{% endif %}{% if has_children %} more{% endif %}{% if is_active %} isactive{% endif %}">
            <a href="{% if entry.menuurl %}{{ entry.menuurl }}{% else %}{{ entry.url}}{% endif %}">
            {%- if entry.menutitle and entry.menuentitle %}<span lang="de">{{ entry.menutitle }}</span><span lang="en">{{ entry.menuentitle }}</span>{% else %}<span>{{ entry.menutitle | default: entry.menuentitle | default: "XXX" }}</span>{% endif -%}
            </a>
            </label>
        {%- if has_children and entry.submenu == true -%}
            {%- if include.active contains entry.url -%}
                {%- include navtree.html treeprefix=treeprefix parent_path=entry.dir depth=nextdepth active=include.active foo=include.foo -%}
            {%- else -%}
                {%- include navtree.html treeprefix=treeprefix parent_path=entry.dir depth=nextdepth foo=include.foo -%}
                {%- comment -%}{%- if nextdepth<3 -%}
                    {%- include navtree.html treeprefix=treeprefix parent_path=entry.dir depth=nextdepth -%}
                {%- endif -%}{%- endcomment -%}
            {%- endif -%}
        {%- endif -%}
        </li>
    {%- endfor -%}
    </ul>
{%- endif -%}
