<div class="next-koma">
  <h1>Nächste KoMata</h1>
  <span>Folgende KoMata in der Übersicht:</span>
  <ul>
    <li>
        <span class="name"><a href="https://anmeldung.die-koma.org/KoRoMa/">KoRoMa im Neuland</a></span>
        <span class="date">30.04.2020 - 03.05.2020</span>
    </li>
    <li>
        <span class="name"><a href="https://www.koma86.uni-bonn.de/">KoMa 86 in Bonn</a></span>
        <span class="date">tba</span>
    </li>
    <li>
        <span class="name"><a href="https://koma87.uni-jena.de/">KoMa 87 in Jena</a></span>
        <span class="date">vsl. 18.11.2020 -- 22.11.2020</span>
    </li>
  </ul>
</div>
