<div class="next-koma">
  <h1>Nächste KoMata</h1>
  <span>Folgende KoMata in der Übersicht:</span>
  <ul>
    <li>
        <span class="name"><a href="https://fsmat.at/content/koma-87">KoMa in Wien</a></span>
        <span class="date">29. Oktober–02. November 2022</span>
    </li>
    <li>
        <span class="name">KoMa in Kaiserslautern</a></span>
        <span class="date">SoSe 2023</span>
    </li>
    <li>
        <span class="name">KoMa in Darmstadt</a></span>
        <span class="date">WiSe 2023</span>
    </li>
  </ul>
</div>
