<div class="next-koma">
  <h1>Nächste KoMata</h1>
  <span>Geplante KoMata in der Übersicht:</span>
  <ul>
    <!--# include virtual="/https://komapedia.org/wiki/MediaWiki:NextKoMa" set="next_koma" -->
    <!--# if expr="$next_koma = /[^~]*~0~([^~]*)~([^~]*)~([^~]*)~/" -->
    <li>
      <a href="https://komapedia.org/wiki/<!--# echo var="1" -->" target="_blank"><!--# echo var="2" --></a>
      <p><!--# echo var="3" --></p>
    </li>
    <!--# else -->
    <li>TBD</li>
    <!--# endif -->
    <!--# if expr="$next_koma = /[^~]*~1~([^~]*)~([^~]*)~([^~]*)~/" -->
    <li>
      <a href="https://komapedia.org/wiki/<!--# echo var="1" -->" target="_blank"><!--# echo var="2" --></a>
      <p><!--# echo var="3" --></p>
    </li>
    <!--# endif -->
  </ul>
</div>
