footer {
  background-color: #dcdcf2;
  font-weight: bold;
  padding-inline: 10px;
  height: $footerHeight;

  > * {
    margin-block: 10px;
    display: inline-block;
  }

  .sponsoring {
    float: right;
    position: relative;
    top: -.2em;

    img {
      height: 1.5em;
    }
  }
}
