footer {
  grid-area: footer;
  background-color: #dcdcf2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  padding: 1em;

  .sponsoring img {
    height: 2.5em;
  }
}
