.site-header {

  h1, h2 {
    color: black;
  }

  a {
    text-decoration: none !important;
    &:hover span {
      text-decoration: underline;
    }
  }

  span {
    color: black;
  }

  .logo {
    background-image: url("/core/image/header_banner.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: flow-root;
    svg {
      display: block;
      height: calc(#{$komaLogoHeight} * 1em);
      margin-left: 4em;
      margin-bottom: -1em;
    }
  }

  h1, .subtitle {
    display: none;
  }

  .arrow {
    height: 1em;
    width: 100%;
    svg {
      display: block;
      margin-inline: auto 4em;
      height: 4em;
      top: calc(50% - 2em);
      position: relative;
      margin-bottom: -4em;
    }
    &::before, &::after {
      display: block;
      height: 1em;
      background: black;
    }
    &::after {
      content: "";
      --margin-left: 0em;
      margin-left: var(--margin-left);
      width: calc(100% - var(--margin-left) - 6em);
    }
  }

}

@media all and (min-width: 800px) {
  .site-header {

    .logo {
      svg {
        margin-top: 4em;
        margin-left: $headerLeftBar;
      }
    }

    h1 {
      display: block;
      position: absolute;
      font-size: 6em;
      margin-top: -1em;
      margin-left: calc(#{$headerLeftBar} + 1em);
    }

    .arrow {
      &::before {
        content: "";
        width: calc(#{$headerLeftBar} + .5em);
        position: absolute;
      }
      &::after {
        --margin-left: calc(#{$headerLeftBar} + #{$komaLogoWidth} * 1em - .5em);
      }
    }

    .subtitle {
      display: block;
      margin-inline: calc(#{$headerLeftBar}) 12em;
      text-align: right;
      border-left: 1em solid black;
      padding-top: 2em;
      h2 {
        margin: 0;
        font-weight: normal;
        font-size: 5em;
      }
    }

  }
}
