.site-header {
  background-image: url("/core/image/header_banner.png");
  background-repeat: no-repeat;
  background-size: cover;

  a {
    text-decoration: none !important;
    &:hover span {
      text-decoration: underline;
    }
  }

  .logo {
    svg {
      margin-left: 2em;
      height: calc(33 * .5em);
      margin-bottom: -.5em;
    }
    span {
      display: none;
    }
  }

  .arrow {
    height: .5em;
    width: 100%;
    svg {
      display: block;
      margin-inline: auto 2em;
      height: 2em;
      top: calc(50% - 1em);
      position: relative;
      margin-bottom: -2em;
    }
    &::after {
      content: "";
      display: block;
      height: .5em;
      width: calc(100% - 3em);
      background: black;
    }
  }

  .subtitle {
    display: none;
  }


  }
}

