.site-nav-wrapper {
  margin: auto;
  line-height: 24px; 
}

.site-nav {
  ul > li > ul{
    margin-left: 15px;
  }
  
  > ul > li > label > a > span {
    font-weight: bold;
  }

  li {
    list-style-type: none;
    margin: auto;
  }

  label {
    display: block;
  }
}

@media all and (max-width: 799px){
  .site-nav-wrapper {
    order: 2;
  }
}

@media all and (min-width: 800px){
  .site-nav-wrapper {
    margin: 0 20px 0 0;
    width: $headerLeftBar;
    border-right: $headerBorderWidth solid black;
    line-height: 24px; 
  }
  
  .site-nav {
    width: 180px;

    ul {
      margin: 0 20px 0 15px;
    }
  }
}
