.site-nav {
  line-height: 24px;

  ul > li > ul{
    margin-left: 15px;
  }

  > ul > li > a {
    font-weight: bold;
  }

  li {
    list-style-type: none;
    margin: auto;
  }

}

@media all and (max-width: 799px){
  .site-nav-wrapper {
    order: 2;
  }
}

@media all and (min-width: 800px){
  .site-nav-wrapper {
    margin: 0 20px 0 0;
    width: $headerLeftBar;
    line-height: 24px;
  }

  .site-nav ul {
    margin: 0 20px 0 15px;
  }
}
