.site-nav {
  width: $headerLeftBar;
  border-right: $headerBorderWidth solid black;
  text-align: right;
  line-height: 24px;

  li {
    list-style-type: none;
    width: 100%;
    margin: 0;
  }

  ul {
    margin: 0 20px 0 0;
  }

  label {
      display: block;
  }
}
