@import "tailwindcss";
@plugin "@tailwindcss/typography";

@config "../../tailwind.config.mjs";

@theme {
  --background-image-external-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E");
}

@utility mask-* {
  mask-image: --value([*]);
}

@utility external-link {
  --size: 1em;
  mask-image: var(--background-image-external-link);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentcolor;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: calc(-0.15 * var(--size));
}
