---

---

<footer
  class="grid justify-center bg-gradient-to-b from-teal-800 to-teal-900 px-8 py-10 text-cyan-200 shadow-2xl shadow-teal-500"
>
  <div class="flex flex-col justify-between md:flex-row md:gap-14">
    <div class="flex flex-col text-sm *:w-fit *:py-1">
      <a href="/kommunikation/koma-buero/" class="underline">
        <h1 class="text-lg font-bold text-teal-200">KoMa-Büro</h1>
      </a>
      <pre
        class="not-prose">
KoMa Büro
c/o Fachschaft Mathematik
Endenicher Allee 60
D-53115 Bonn
    </pre>
      <a href="mailto:buero@die-koma.org">buero@die-koma.org</a>
    </div>

    <div class="flex flex-col text-sm *:w-fit *:py-1">
      <a class="underline" href="/foerderverein/">
        <h1 class="text-lg font-bold text-teal-200">KoMa e.V.</h1>
      </a>
      <p>
        IBAN:
        <span class="font-semibold text-teal-200"> DE38 4726 0121 8917 0136 00 </span>
      </p>
    </div>

    <div class="flex flex-col text-sm *:w-fit *:py-1">
      <h1 class="text-lg font-bold text-teal-200">KoMa Admins</h1>
      <a class="not-prose" target="_blank" href="https://github.com/Die-KoMa/die-koma.org">
        <img class="w-16" alt="GitHub" src="/_image/github.svg" />
      </a>
      <a href="mailto:homepage@die-koma.org">homepage@die-koma.org</a>
      <a href="/impressum/">Impressum</a>
      <a href="/datenschutz/">Datenschutz</a>
      <a href="https://www.hetzner.com/cloud" target="blank">
        <img class="w-16" src="/_image/hosted-by-hetzner-201.png" alt="hosted by HETZNER" />
      </a>
    </div>
  </div>
</footer>
