---
import KoMaLogo from './KoMaLogo.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header
  class="flex h-fit border-t-8 border-teal-600 bg-gradient-to-tr from-slate-200 to-cyan-100 shadow shadow-slate-300 dark:from-slate-800 dark:to-cyan-900 dark:shadow-slate-900"
>
  <a class="p-2" aria-label="KoMa" href="/">
    <KoMaLogo className="h-8 fill-teal-900 dark:fill-teal-100" />
  </a>
  <h1
    class="hidden font-semibold uppercase tracking-wider text-teal-800 md:inline dark:text-teal-200"
  >
    Konferenz der deutschsprachigen <br /> Mathematikfachschaften
  </h1>
  <div class="flex-1"></div>
  <ThemeToggle class="h-9 self-center stroke-teal-800 pr-2 dark:stroke-cyan-200" />
</header>
