---
import KoMaLogo from './KoMaLogo.astro'
---

<header
  class="flex h-fit border-t-8 border-teal-600 bg-gradient-to-tr from-slate-200 to-cyan-100 shadow shadow-slate-300"
>
  <a class="p-2" aria-label="KoMa" href="/">
    <KoMaLogo className="h-8 fill-teal-900" />
  </a>
  <h1 class="hidden font-semibold uppercase tracking-wider text-teal-800 md:inline">
    Konferenz der deutschsprachigen <br /> Mathematikfachschaften
  </h1>
</header>
