---
const { href, depth = '0', active = false } = Astro.props
let pl = ''
if (depth === '0') pl = 'pl-4'
if (depth === '1') pl = 'pl-8'
---

<li>
  <a
    class=`block break-normal font-semibold border-l-4 dark:hover:border-teal-200 py-2 ${pl} hover:text-teal-500  dark:hover:text-teal-200 hover:border-teal-500 ${active === "true" ? "text-teal-800 border-teal-600 dark:text-teal-500 dark:border-teal-500" :"border-slate-200 dark:border-slate-600 text-slate-600 dark:text-slate-400"}`
    href={href}
  >
    <slot />
  </a>
  <slot name="subpages" />
</li>
