---
import Moon from 'astro-heroicons/outline/Moon.astro'
import Sun from 'astro-heroicons/outline/Sun.astro'
---

<div {...Astro.props}>
  <button
    type="button"
    class="size-[inherit] self-center"
    onclick="toggleTheme()"
    aria-label="zwischen Dark- und Lighttheme wechseln"
  >
    <Moon class="size-[inherit] stroke-inherit p-2 dark:hidden" />
    <Sun class="hidden size-[inherit] stroke-inherit p-1 dark:block" />
  </button>
</div>
