---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$komaLogoHeight: 33;
$komaLogoWidth: 58.5;
$headerLeftBar: 15rem;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

p + h1 {
  padding-top: 1em;
}

html {
  font-size: 12px;
}

body {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: verdana, arial, helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "navlink"
    "content"
    "sidebar"
    "footer";
  font-size: calc(min(1vw, .35rem));
  min-height: 100vh;
  background-color: white;
  color: black;
  fill: black;
  border-color: black;
}

main {
  grid-area: content;
  padding: 1em;
  min-width: 200px;
  font-size: 1rem;
}

#navlink {
  grid-area: navlink;
  font-size: 1rem;
  margin-inline: auto;
  margin-block: 1.5em .5em;
}

nav {
  grid-area: sidebar;
  text-align: center;
  font-size: 1rem;
  > * {
    font-size: 1rem;
    line-height: 2em;
    margin-inline: 1em;
  }
  ul li {
    list-style-type: none;
    margin-left: 0;
  }
  ul li a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width:100%;
  }
  > ul > li > a {
    font-weight: bold;
  }
  &::before {
    content: "Menü";
    display: block;
    margin-inline: 0;
    margin-block: 1em .5em;
    padding: .5em;
    background-color: #dcdcf2;
    font-size: 1.5em;
    font-weight: bold;
  }
}

header {
  grid-area: header;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 2px;
}

/* import header */
@import "header";

/* import footer */
@import "footer";

main p {
  padding: 5px 0;
}

.next-koma {
  background-color: #dcdcf2;
  padding: 1em;
  border-radius: 1.5em;
}

.next-koma ul {
  margin-top: 10px;
  margin-left: 20px;
}

.next-koma .name {
  font-weight: 800;
}

.next-koma .date {
  display: block;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #323555;
}

ul {
  padding-bottom: 10px;
}

ul li {
  margin-left: 20px;
}

ol li {
  margin-left: 20px;
}

.packliste .task-list-item-checkbox {
  margin-right: 5px;
  width:1.2em;
  height:1.2em;
}

@media (min-width: 800px) {
  body {
    grid-template-areas:
      ". header header ."
      ". sidebar content ."
      ". footer footer .";
    grid-template-columns: 1fr $headerLeftBar minmax(auto, 85rem) 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .next-koma {
    float: right;
    width: 250px;
    margin-left: 10px;
    margin-block: 10px;
  }
  #navlink {
    display: none;
  }
  nav {
    width: 100%;
    margin: 0;
    border-right: 1em solid;
    font-size: inherit;
    text-align: left;
    &::before {
      content: unset;
    }
    li > ul {
      margin-left: 1em;
    }
    ul {
      margin: 0 0 0 0.5em;
    }
  }
}
