---
import BaseLayout from '@layouts/BaseLayout.astro'

export const frontmatter = {
  title: 'Publikationen',
  order: 50,
}

type Publication = {
  url: string
  frontmatter: {
    title: string
  }
}

const publications = Object.values(
  await import.meta.glob<Publication>('@pages/publikationen/*.md', { eager: true }),
)
---

<BaseLayout frontmatter={{ title: frontmatter.title }}>
  <h1>Publikationen der KoMa</h1>

  Folgende Publikationen werden von der KoMa veröffentlicht:

  <ul>
    {
      publications.map((publication) => (
        <li>
          <a href={publication.url}>{publication.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
